html, body {
  background-image: radial-gradient(lightgrey 10%, transparent 11%),
    radial-gradient(#fff 10%, transparent 11%);
  background-size: 15px 15px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

html, body, #root, #root>div {
  height: calc(100% - 21px);;
}

/* https://github.com/SamyPesse/react-mathjax/issues/21#issuecomment-997151469 */
span.MathJax_Preview {
  display: none;
}
